# Node modules
/node_modules

frontend/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

/ignition/deployments
# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Foundry dependencies
/lib

# Foundry build output
/out

# Python virtual environment
.venv
venv
env

# Python caches
/off-chain/__pycache__
/off-chain/data_services/__pycache__
/off-chain/data_storage/__pycache__
/off-chain/data_services/data_storage/__pycache__
/off-chain/data_storage/storage.pyc
/off-chain/data_storage/storage.pyo
/off-chain/data_storage/storage.pyd
/off-chain/data_storage/storage.pyw
/off-chain/data_storage/storage.pyz
/off-chain/data_storage/storage.pyzw
/off-chain/data_storage/storage.pyz